@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: mat.$cyan-palette,
    typography: (
      plain-family: Roboto,
      brand-family: Roboto,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: 0,
  ));
}

h2 {
  color: #006a6a;
  font-family: Roboto-Light, sans-serif;
}
